<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @comentario.nome %>
</p>

<p>
  <b>Comentario:</b>
  <%= @comentario.comentario %>
</p>

<p>
  <b>Post:</b>
  <%= @comentario.post %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
